{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<div class="text-white">
    <div class ="text-center">
        <img src="{% static 'core/images/sajib1.jpg' %}" alt="" class="img-thumbnail mt-5" width="150px" height="150px">
    </div>
    <div class="mt-5 mx-5 text-justify ">
        <h1 class="font-weight-bold satisfy-regular"> Hello, </h1>
    
    <div class="px-4" style= " line-height:2rem;" >
        <p style ="text-indent:100px;">I am <b class="text-warning">Md Sajib Uddin</b> having
            2 year experince for study related project .
        </p>
        <p> I am doing my bachelor's degree in Softwear Enginnering from Noakhali Science and Techonology University, i have done different types of project in my study life using java, python, HTML,CSS, JavaScript, Flutter .  </p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolor in dolore aspernatur quis illum officiis tempora reiciendis sapiente voluptatum dicta expedita, labore facere, delectus pariatur placeat nam molestias voluptates enim totam ducimus consectetur suscipit ab. In quae veritatis tenetur, commodi facere animi doloremque porro ex illo unde ipsa rem?
                 </p>
    </div>
    </div>
    <div class="text-center">
        <a href="" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
        <a href="" class="btn btn-outline-info my-4 pr-3">Contact</a>
    </div>

</div>

{% endblock content %}